body{
    margin: 0;
    background-color:  #ffffff;
    position: relative;
    color: rgb(208, 214, 214);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';

}

header{
    
background-color: #ffffff;
margin: 0;
position: static;
top: 0;
height: 20vh;
min-width: 100%;
display: flex;
justify-content: space-between;



}