

body{
    min-width: 100vh;
    margin: 0;
    background-color:  #1e2127;
    position: relative;
    color: rgb(208, 214, 214);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';

}

header{
background-color: #1e2127;
margin: 0;
position: sticky;
top: 0;
height: 20vh;
min-width: 100vh;
display: flex;
justify-content: flex-start;



}

h1, h2, p{
    
}
h1{
    text-align: center;
}
.description__link{
    text-decoration: none;
    color: rgb(138, 219, 230);
}

.header__container__logo{
   width: 50vh;
    margin: 0 auto;
    margin-left: 7vh;
    display: flex;
    
    
    
}
.logo__link{
    display: flex;
    
    
}
.logo{
    width: 80%;
      
    height: auto;
}

.header__container__result{
    width: 40vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    

}


.result{
    margin: 0 auto;
    width: 15vh;
    height: 5vh;
    
    border-color: black;
   

}
.blocksWeight{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: #1e2127;
    color: rgb(255, 255, 255);
}

.complect__container{
    margin: 0 auto;
    min-width: 80%;
    width: 90%;
    height: 5vh;
    background-color:  #1e2127;
     color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
#complect, #od{
    margin-right: 10vh;
    margin-left: 10vh;
    background-color:  #1e2127;
    color: rgb(255, 255, 255);
    border-style: none;
}
#complect1{
    border-style: none;
    background-color:  #0055ff;

}

#complect__name{
    width: 70vh;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

.item {
    margin: 1vh;
    
}



.grid-wrapper1 {
    margin-left: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 60vh);
    grid-template-rows: auto;
} 
.grid-wrapper2 {
    margin-left: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, 85%);
    grid-template-rows: auto;
} 


/*Стартовая страница*/

.start{
    
}
.start__container{
    background-color: #1e2127;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.start--logo{
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.start--logo:hover{

  transform: scale(1.1);
}

/*Результирующая страница*/
#menuDescript{
    display: none;
    
}

#one{
display: block;
}
#two{
    display: none;
}
#three{
    display: none;
}
#four{
    display: none;
}
#five{
    display: none;
}
#six{
    display: none;
}
#seven{
    display: none;
}

#eight{
display: none;
}
#nine{
    display: none;
}
#ten{
    display: none;
}
#eleven{
    display: none;
}
#twelve{
    display: none;
}

#thirteen, #fourteen, #fifteen, #sixteen, #seventeen, 
#eighteen, #nineteen, #twenty, #twentyone, #twentytwo, 
#twentythree, #twentyfour, #twentyfive, #twentysix, #twentyseven, #twentyeight, #twentynine,
#thirty,  #thirtyone, #thirtytwo, #thirtythree , #thirtyfour , #thirtyfive , #thirtysix,
#thirtyseven, #thirtyeight, #thirtynine, #forty, #fortyone, #fortytwo, #fortythree,
#fortyfour, #fortyfive, #fortysix, #fortyseven {
    display: none;
}
